<div class="game-over-container">
    <h1 class="game-over-title">You hit a bomb!</h1>
    <p class="game-over-message">Better luck next time!</p>
    <button onclick="location.href='@Url.Action("Index", "Home")'" class="menu-button">Back to Menu</button>
    <button onclick="location.href='@Url.Action("Index", "Board", new { boardSize = ViewBag.BoardSize, difficulty = ViewBag.Difficulty })'" class="restart-button">
        Restart Game
    </button>

</div>

<style>
    .game-over-container {
        text-align: center;
        font-family: 'Arial', sans-serif;
        margin-top: 50px;
        animation: fadeIn 1s ease-in-out;
    }

    .game-over-title {
        font-size: 3rem;
        color: #fff;
        text-shadow: 2px 2px 8px black;
    }

    .game-over-message {
        font-size: 1.5rem;
        color: #555;
    }

    .menu-button,
    .restart-button {
        padding: 10px 20px;
        font-size: 1.2rem;
        color: white;
        background-color: #007bff;
        border: none;
        border-radius: 5px;
        margin: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .menu-button:hover {
        background-color: #0056b3;
    }

    .restart-button {
        background-color: #28a745;
    }

    .restart-button:hover {
        background-color: #218838;
    }

</style>
